<form>
  <h1>Add Question</h1><hr/><hr/>
  <div id="main">
    <label style="font-size: 30px;"><b>Id:</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="number" id="number"/>
    
    <br /><br />
    <label style="font-size: 30px;"><b>Question:</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="question"/>
    
    <br /><br />
    <label style="font-size: 30px;"><b>Choice 1:</b></label>&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="choice1" />
   <br/><br/>

   <label style="font-size: 30px;"><b>Choice 2:</b></label>&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="choice2" />
   <br/><br/>

   <label style="font-size: 30px;"><b>Choice 3:</b></label>&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="choice3" />
   <br/><br/>

   <label style="font-size: 30px;"><b>Choice 4:</b></label>&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="choice4" />
   <br/><br/>

    <label style="font-size: 30px;"><b>Answer:</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="text" id="question"/><br/><br/>

   <button id="btn"><strong>Add Question</strong></button>

  </div>
</form>
