<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">User Registration</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            
            <mat-form-field>
                <input matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Phoneno">
            </mat-form-field>
             
             
             
          <button mat-raised-button color="primary" type="signup">Register</button>
            
          </form>
          
    </mat-card>
</div>

