.button1 {font-size: 15px;
    color: rgb(36, 36, 206);}
.button2 {font-size: 15px;
color: rgb(231, 20, 20);}
.button3 {font-size: 15px;
color: rgb(20, 20, 20);}
.button4 {font-size: 15px;
color: rgb(4, 48, 48);}